@import '../styles/variables.scss';

.card {
  margin-top: -2.1rem;
  position: relative;
  background-color: $dark-blue-card;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $desaturated-blue;
  }

  &__cards {
    padding: 0.9rem 2rem 0.1rem 1.9rem;

    &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2rem;

      @include breakpoint(smallPhones) {
        margin-bottom: 0.5rem;
      }
    }

    &__flexP {
      @include breakpoint(smallPhones) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.1rem;
      margin-top: 0.8rem;
    }

    &__hrs {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 0.8rem;

      @include breakpoint(smallPhones) {
        font-size: 1.3rem;
      }
    }

    &__lastWeek {
      font-size: 0.8rem;
      font-weight: 300;
      padding-bottom: 1.6rem;

      @include breakpoint(smallPhones) {
        margin-bottom: 0.8rem;
        padding-bottom: unset;
      }
    }

    &__dots {
      height: 4px;
      cursor: pointer;
      align-self: center;
      margin-top: 0.8rem;
    }
  }

  &__work {
    background: linear-gradient(180deg, #{$light-red-work} 69.9%, #{$transparent-bottom} 70%);
    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }

  &__play {
    background: linear-gradient(180deg, #{$soft-blue-play} 69.9%, #{$transparent-bottom} 70%);
    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }
  &__study {
    background: linear-gradient(180deg, #{$light-red-study} 69.9%, #{$transparent-bottom} 70%);
    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }
  &__exercise {
    background: linear-gradient(180deg, #{$lime-green-exercise} 69.9%, #{$transparent-bottom} 70%);
    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }
  &__social {
    background: linear-gradient(180deg, #{$violet-social} 69.9%, #{$transparent-bottom} 70%);
    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }
  &__selfcare {
    background: linear-gradient(
      180deg,
      #{$soft-orange-self-care} 69.9%,
      #{$transparent-bottom} 70%
    );

    border-radius: 11px;
    align-self: end;
    padding-top: 0.3rem;
    overflow: hidden;

    @include breakpoint(smallPhones) {
      padding-top: -0.7rem;
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-left: 9rem;
      position: relative;
      top: -0.8rem;

      @include breakpoint(smallPhones) {
        margin-left: 10rem;
        top: -0.7rem;
      }
    }
  }
}
