@import '../styles/variables.scss';

.footer {
  font-size: 0.8rem;
  vertical-align: top;
  position: fixed;
  transform: rotate(321deg);
  top: 50rem;
  margin: 0 auto;
  left: 77rem;
  z-index: 10;
  background: linear-gradient(180deg, #{$soft-blue-play} 0%, #{$violet-social} 100%);
  color: transparent;
  background-clip: text;

  @include breakpoint(smallPhones) {
    transform: rotate(0);
    font-size: 0.8rem;
    left: unset;
    top: unset;
    bottom: -88rem !important;
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
  }

  @include breakpoint(tablets) {
    transform: rotate(0);
    font-size: 0.8rem;
    left: unset;
    top: unset;
    bottom: -60rem;
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
  }

  @include breakpoint(landscape) {
    transform: rotate(0);
    font-size: 0.8rem;
    left: unset;
    top: unset;
    bottom: -60rem;
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
  }

  @include breakpoint(lg) {
    font-size: 1.2rem;
    left: 72rem;
    top: 44rem;
  }

  @include breakpoint(xlg) {
    transform: rotate(0);
    left: 89rem;
    top: 49rem;
  }
  a {
    text-align: center;
    color: $light-red-study;
    text-decoration: none;
    animation: rainbow 10s infinite;
    transition: all 0.2s;
  }

  @keyframes rainbow {
    0% {
      color: $light-red-work;
    }
    16% {
      color: $soft-blue-play;
    }
    33% {
      color: $light-red-study;
    }
    66% {
      color: $lime-green-exercise;
    }
    82% {
      color: $violet-social;
    }
    100% {
      color: $soft-orange-self-care;
    }
  }
}
