@import './styles/variables.scss';

.main {
  position: relative;

  .container {
    margin: 0 auto;
    max-width: 61.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    padding-bottom: 1.3rem;

    // padding for breackpoint
    // padding: 1rem 0.8rem 0.8rem 0.8rem;

    &__grid {
      display: grid;
      gap: 1.6rem;
    }

    &__grid__3__cols {
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    }

    &__card__container {
      &__user {
        grid-column: 1/ 2;
        grid-row: 1/3;
        background-color: $dark-blue-card;
        border-radius: 11px;

        &__div {
          border-radius: 11px;
          background-color: $pale-blue;
          height: 68%;
          margin-bottom: 1.4rem;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          padding: 1.9rem;
        }

        img {
          height: 70px;
          width: 70px;
          border: 2px solid #fff;
          border-radius: 50%;
          margin-bottom: 2rem;
          margin-top: 0.5rem;
        }

        p {
          font-weight: 300;
          font-size: 0.8rem;
          margin-bottom: 0.4rem;
        }

        h4 {
          font-size: 2.2rem;
          font-weight: 300;
        }
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;

        &__active {
          background: transparent;
          border: none;
          padding: 0.5rem 2rem;
          font-size: 1rem;
          align-self: flex-start;
          cursor: pointer;
          color: #fff;
        }

        &__btn {
          background: transparent;
          border: none;
          padding: 0.5rem 2rem;
          font-size: 1rem;
          align-self: flex-start;
          cursor: pointer;
          color: rgba(255, 255, 255, 0.541);

          &:hover {
            color: $color;
          }
        }
      }
    }
  }
}
